
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #015C9E, #12E5D7); /* Latar belakang gradien */
    color: #333; /* Warna teks utama */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Membuat navbar transparan */
    padding: 10px 20px;
    position: relative; /* Mengatur posisi relatif untuk efek bayangan */
    z-index: 10; /* Memastikan navbar di atas konten lainnya */
    margin-top: 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Transisi halus untuk efek hover */
}

.menu a:hover {
    color: #FFD700; /* Warna emas saat hover */
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.content {
    display: flex;
    flex-direction: row-reverse; /* Tambahkan properti ini */
    align-items: center;
    justify-content: center; /* Pusatkan konten secara horizontal */
    margin-top: 20px;
    padding: 0 20px;
    text-align: center; /* Rata tengah teks */
    max-width: 1100px; /* Maksimal lebar konten */
    margin: 20px auto; /* Margin otomatis untuk pusatkan konten */
}

.content img {
    max-width: 400px; /* Ukuran maksimum gambar */
    height: auto;
    margin-right: 0; /* Hapus margin kanan */
    margin-left: 20px; /* Tambahkan margin kiri */
    border-radius: 10px; /* Sudut melengkung pada gambar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bayangan untuk gambar */
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
    margin: 0 0 10px;
    color: #FFF; /* Warna biru untuk judul */
}

p {
    font-size: 20px;
    color: #FFF;
    font-style: italic;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }

    .content {
        flex-direction: column; /* Ubah menjadi kolom pada layar kecil */
        text-align: center; /* Rata tengah teks */
    }

    .content img {
        margin: 0 0 20px; /* Hapus margin kanan pada gambar */
    }
}
