body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #015C9E, #12E5D7); /* Latar belakang gradien */
    color: #333; /* Warna teks utama */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Membuat navbar transparan */
    padding: 10px 20px;
    position: relative; /* Mengatur posisi relatif untuk efek bayangan */
    z-index: 10; /* Memastikan navbar di atas konten lainnya */
    margin-top: 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar .menu a {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
    text-decoration: none;
}

.navbar .menu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.menu-toggle {
    display: none; /* Sembunyikan tombol toggle secara default */
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center; /* Pusatkan konten secara horizontal */
    margin-top: 20px;
    padding: 0 20px;
    text-align: center; /* Rata tengah teks */
    max-width: 1200px; /* Maksimal lebar konten */
    margin: 20px auto; /* Margin otomatis untuk pusatkan konten */
}

.content img {
    max-width: 400px; /* Ukuran maksimum gambar */
    height: auto;
    margin-right: 210px; /* Spasi antara gambar dan teks */
    border-radius: 10px; /* Sudut melengkung pada gambar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bayangan untuk gambar */
    margin-top: 70px;
    margin-bottom: 100px;
}

.content h1 {
    font-size: 50px;
    margin: 1px;
    color: #FFF; /* Warna biru untuk judul */
    display: flex;
    flex-direction: column; /* Mengatur agar teks berada di atas dan bawah */
    align-items: flex-start; /* Rata kiri untuk teks */
}

.content p {
    font-size: 20px;
    color: #FFF;
    font-style: italic;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }

    .content {
        flex-direction: column; /* Ubah menjadi kolom pada layar kecil */
        text-align: center; /* Rata tengah teks */
    }

    .content img {
        margin: 0 0 20px; /* Hapus margin kanan pada gambar */
    }
}